<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="goTo(routes.home)">
      {{ "NAVBAR.TITLE" | translate}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ "NAVBAR.DROPDOWN" | translate}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a id="DC" class="dropdown-item" (click)="loadForEditorial(editoriales.DC)">
                {{ "NAVBAR.DC_COMICS" | translate}}
              </a>
            </li>
            <li>
              <a id="Marvel" class="dropdown-item" (click)="loadForEditorial(editoriales.MARVEL)">
                {{ "NAVBAR.MARVEL_COMICS" | translate}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <form #form class="d-flex">
        <input #search class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup.enter)="searchHero(search.value)" />
        <button class="btn btn-outline-success" type="button" (click)="searchHero(search.value)">
          {{ "NAVBAR.SEARCH" | translate}}
        </button>
      </form>
    </div>
  </div>
</nav>